
<div class="container u-cf main-start">
  <div class="row">
    <div class="column">
      {{#foreach posts}}
        {{> excerpt}}
      {{#if @last}}
      <div></div>
      {{else}}
      <div class="line"></div>
      {{/if}}
      {{/foreach}}
    </div>
  </div>
</div>
