
      {{#foreach posts}}
      {{#if @first}}

      {{#if image}}
        <a href="{{url}}">
          <header class="post-image fadeIn" style="background-image: url({{image}})"></header>
        </a>
      {{/if}}
      <div class="container u-cf main-start">
        <div class="row">
          <div class="column">
            {{> first_excerpt}}
      {{else}}
            {{> excerpt}}
      {{/if}}

      {{#if @last}}
      <div class="view-more fadeInUp">
        <button class="button-primary fadeInUp"><a href="/tag/articles">View All Posts</a></button>
      </div>
      {{else}}
      <div class="line"></div>
      {{/if}}
      {{/foreach}}
    </div>
  </div>
</div>
