<div class="excerpt-post container" >
  <div class="row">
    <div class="twelve columns">
      <div class="sample">
        <div class="title animated fadeInUp">
          <a class="excerpt-link" href="{{url}}">
            <h1 style="margin-top:0px; line-height:35px;">{{title}}</h1>
          </a>
        </div>
        {{> sidebar}}
      </div>
      <article class="excerpt animated fadeIn {{post_class}}">
        <p>{{excerpt words="35"}}&hellip;</p>
      </article>
    </div>
    <div class="four columns">
    </div>
  </div>
</div>
