<nav class="pagination container" role="navigation">
    <div class="row">
      <div class="three columns">&nbsp;</div>
      <div class="six columns">
        {{#if prev}}
            <a class="newer-posts" href="{{page_url prev}}">&larr; Newer Posts</a>
        {{/if}}
        <span class="page-number">Page {{page}} of {{pages}}</span>
        {{#if next}}
            <a class="older-posts" href="{{page_url next}}">Older Posts &rarr;</a>
        {{/if}}
      </div>
      <div class="three columns">&nbsp;</div>
  </div>
</nav>
