{{!< default}}

{{#post}}
{{#if image}}
  <header class="post-image" style="background-image: url({{image}})"></header>
{{/if}}
<div class="container  u-cf u-max-full-width">

  <div class="row">
    <div class="two columns">&nbsp;</div>
    <div class="eight columns">
{{> post-meta}}


    <div class="push-article">
{{! Temporary indentation shift for Handlebars issue }}
{{> content}}
{{> share}}
    </div>
{{> comments}}


    </div>
  </div>
</div>

{{/post}}
